@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=SUSE:wght@100..800&display=swap');
@import url('./styles/global-styles.css');
@import url('./styles/animations.css');

.press-start-2p-regular {
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  font-family: 'SUSE', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  scroll-behavior: smooth;
}

#layout {
  width: 100%;
  display: grid;
  grid:
    'header' auto
    'main' 1fr
    'footer' auto
    / auto;
}

#header {
  grid-area: header;
  width: calc(100% - 30px);
  width: -webkit-fill-available;
  height: 70px;
  padding: 2px 15px;
  background: white;
  box-shadow: 0px 2px 8px 0px #dcdcdc;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#profile-info {
  gap: 10px;
}

#profile-info img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  border: 2px solid black;
}

#profile-info span {
  font-weight: bold;
}

#navbar-layout {
}

#navbar-layout ul {
  gap: 20px;
  list-style-type: none;

  @media (max-width: 900px) {
    display: none;
  }
}

#navbar-layout ul .navbar-option a {
  text-decoration: none;
  color: black;
}

#navbar-layout ul .navbar-option a:hover {
  font-weight: 600;
}

#container {
  grid-area: main;
  margin-top: 74px;
  padding-bottom: 90px;
  flex-direction: column;
  gap: 90px;
}

#container .section {
  height: auto;
}

#container .home {
  min-height: calc(100vh - 74px);
  background: linear-gradient(
      to right,
      rgba(232, 230, 230, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url('/assets/img/home-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  gap: 3rem;
}

#container .home .home-title {
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

#container .home .home-subtitle {
  font-size: 1.5rem;
  line-height: 1.6;
  max-width: 80%;
  text-align: center;
}

#container .about {
  text-align: center;
  margin: 0 24px;
}

#container .about .about-container {
  margin-top: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

#container .about .about-container .about-about-me {
  flex: 1;
  min-width: 300px;
  flex-direction: column;
  gap: 24px;
}

#container .about .about-container .about-about-me span {
  text-align: center;
  line-height: 2;
}

#container .about .about-container .about-skills {
  flex: 1;
  min-width: 300px;
  flex-direction: column;
  gap: 24px;
}

#container .about .about-container .about-skills .skills-container {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

#container .experience {
  margin: 0 100px;
}

#container .experience .experience-main-title {
  text-align: center;
}

#container .experience .experience-table {
  width: 100%;
  color: #dcdcdc;
  padding: 10px;
  margin-top: 100px;
  border-spacing: 0;
  background-color: black;
  border-radius: 10px;
  transition: 0.3s;
}

#container .experience .experience-table .experience-row {
  cursor: pointer;
}

#container .experience .experience-table .experience-row:not(:hover) {
  opacity: 0.6;
}

#container .experience .experience-table .experience-row .experience-date {
  min-width: 160px;
  padding: 10px;
  justify-content: flex-start;
}

#container .experience .experience-table .experience-row .experience-data {
  padding: 10px;
}

#container
  .experience
  .experience-table
  .experience-row
  .experience-data
  .experience-title {
  font-weight: bold;
}

#container
  .experience
  .experience-table
  .experience-row
  .experience-data
  .experience-company {
  color: gray;
  margin-bottom: 10px;
}

#container .projects {
  flex-direction: column;
  margin: 0 100px;
}

#container .projects h1 {
  margin-bottom: 100px;
}

#footer {
  grid-area: footer;
  padding: 40px 24px;
  background-color: black;
  flex-direction: column;
  gap: 40px;
}

#footer .footer-image {
  width: 100px;
  height: auto;
  border-radius: 50%;
  border: 4px solid white;
}

#footer .footer-copyright {
  color: #808080;
  text-align: center;
}

#footer .footer-copyright span {
  color: #dcdcdc;
}

.social-media-menu {
  padding: 10px;
  background-color: white;
  position: fixed;
  top: 70%;
  left: 0;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.33);
}

.social-media-menu .social-media-button {
  position: relative;
  text-decoration: none;
  width: 40px;
  height: 40px;
}

.social-media-menu .social-media-button .tooltiptext {
  position: absolute;
  background-color: black;
  top: 100%;
  left: 110%;
  transform: translateY(200%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}

.social-media-menu .social-media-button:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
  top: -55px;
}

.social-media-menu .social-media-button img {
  width: 40px;
  height: 40px;
}

@media (max-width: 730px) {
  #container .home .home-title {
    font-size: 2rem;
  }

  #container .home .home-subtitle {
    font-size: 1.2rem;
  }

  #container .about .about-container {
    flex-direction: column;
  }

  #container .experience {
    margin: 0 24px;
  }
}
