.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
